.backgroundPlace {
  position: relative;
  width: 100%;
  height: 100vh;
  margin: 0;
  background-image: url("background-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  animation: fadeInAnimation ease 1.6s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.welcomeText {
  position: relative;
  text-align: center;
  padding-top: 15%;

  h1 {
    font-size: 3em;
    color: white;
  }
  h3 {
    font-size: 1.5em;
    color: white;
  }

  animation: Slide-down 1.5s ease;
  animation-fill-mode: backwards;
  animation-delay: 0.6s;
}

.welcomeButtons {
  position: relative;
  top: 12%;
  animation: Slide-up 1.5s ease;
  animation-fill-mode: backwards;
  animation-delay: 0.6s;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes Slide-up {
  0% {
    transform: translateY(250px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes Slide-down {
  0% {
    transform: translateY(-250px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
