.addTodo {
  margin-top: 25px;
  display: flex;
  column-gap: 16px;
  color: white;

  .inputBox {
    background-color: #5e5b5b;

    ::placeholder {
      color: white;
    }
  }

  .addTodoButton {
    color: #ffa62b;
  }
}

.listElement {
  margin-top: 10px;
  background-color: #383431;
  max-width: 500px;
  color: white;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
