body {
  display: flex;
  justify-content: center;
}

.addTodo {
  margin-top: 25px;
  display: flex;
  column-gap: 16px;
}

.toDoList {}

.listElement {
  max-width: 500px;
  border: solid 1px black;
  margin-top: 10px;
}