body {
  background-image: url("../../../../../public/background-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.formDiv {
  margin-top: 15%;
}

.SubButton {
  background-color: #2d3e75 !important;
}

.checkText {
  color: #a8baf7 !important;
}
